<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>LIttle Meteo</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="60c08cb918438e418245a6d4ba83d492" crossorigin="anonymous">
</head>
<body>
  <div class="container">
    <div class="text-center mt-3">
      <h1 class="h1">Minimeteo</h1>
      <p>Inserisci la città di cui vuoi visualizzare il meteo adesso</p>
    </div>

    <div class="mb-3">
      <input type="text" placeholder="Enter the city" class="form-control input_text" id="cityInput" #citta>
      <div class="mt-2">
        <button (click)="prendiMeteo(citta.value)" class="btn btn-primary submit" id="submitButton">Submit</button>
      </div>
    </div>
    <div class="mt-5">
      <div class="card" id="weatherCard">
        <h1 class="card-title name" id="name">{{nome}}</h1>
        <p class="card-text desc" *ngIf="loading"> <strong> Paese: </strong> {{paese}}</p>
        <p class="card-text temp"*ngIf="loading"><strong> Gradi:</strong>  {{temp}}</p>
        <p class="card-text feelslike"*ngIf="loading"><strong>Gradi Percepiti:</strong> {{feelslike}}</p>
        <p class="card-text clouds"*ngIf="loading"><strong>Percentuale Nuvolosa:</strong> {{clouds}}</p>
        <p class="card-text desc" *ngIf="loading"> <strong>Cielo:</strong> {{ traduciDesc(desc) }}</p> 
        <div class="col-sm-4" *ngIf="loading">
          <img src = {{icon}} style="height: 90px;">
        </div>
   

      
      </div>
    </div>
  </div>
</body>
</html>